body{
    background-color: beige;
    text-align: center;
}

h1{
    width:auto;
    background-color: rgb(96, 96, 83);
    line-height: 80px;
    color: aliceblue;
}

h1 a{
    text-align: left;
    float: left;
    color:aliceblue;
    margin-left: 20px;
}

img{
    width: auto;
    height: 250px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.main{
    text-align: center;
    background-color: #000000;
    width: 150px;
    line-height: 60px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: aliceblue;
}


li.main:hover{
    background-color: #5b5b5b;
}